force-app/main/default/flows/Platform_Event_Log_Position_Changes_history.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>This event stores the updated value of the Position record into Profile Update Log</description>
    <environments>Default</environments>
    <interviewLabel>Platform Event: Log Position Changes history {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Platform Event: Log Position Changes history</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>This field updates the log on position log object when position record is updated</description>
        <name>Create_Position_Update_Record</name>
        <label>Create Position Update Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Position__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Position__c</field>
            <value>
                <elementReference>$Record.Position__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_At__c</field>
            <value>
                <elementReference>$Record.UpdateAt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_Field__c</field>
            <value>
                <elementReference>$Record.UpdatedField__c</elementReference>
            </value>
        </inputAssignments>
        <object>Position_Update_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Fault Path</description>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Position_Update_Record</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Send_notification_on_position_update__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>InvalidDraft</status>
</Flow>
