force-app/main/default/flows/Record_Trigger_Job_Posting_After_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>This decision checks if the values are updated or not in the position records.</description>
        <name>Is_All_field_updated</name>
        <label>Is All field updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Field_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Job_Description__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Skills_Required__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hiring_Manager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Position_Update_Platform_Event</targetReference>
            </connector>
            <label>Field Changed</label>
        </rules>
    </decisions>
    <description>This is the Job Posting Record trigger it get initiated only when any field is updated in the position record and we send a custom notification to candidate profile about which field is updated</description>
    <environments>Default</environments>
    <formulas>
        <description>This field is updated when position get updated</description>
        <name>AllFieldupdated</name>
        <dataType>String</dataType>
        <expression>IF(ISCHANGED({!$Record.Hiring_Manager__c}), &quot;Hiring Manager&quot;, &quot;&quot;) &amp;
IF(ISCHANGED({!$Record.Job_Description__c}), &quot;Job Description&quot;, &quot;&quot;) &amp;
IF(ISCHANGED({!$Record.Skills_Required__c}), &quot;Skill Required&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Record-Trigger: Order After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: Job Posting After Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>This event update the records into the Create Position Update Log object in a set field</description>
        <name>Create_Position_Update_Platform_Event</name>
        <label>Create Position Update Platform Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Position__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UpdateAt__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UpdatedField__c</field>
            <value>
                <elementReference>AllFieldupdated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_By__c</field>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </inputAssignments>
        <object>Send_notification_on_position_update__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>To log the fault</description>
        <name>Fault</name>
        <label>Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <stringValue>Wrong Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_All_field_updated</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Job_Description__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Skills_Required__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Hiring_Manager__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Position__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>This resource is to get the new resource log</description>
        <name>PositionUpdateLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Position_Update_Log__c</objectType>
    </variables>
</Flow>
